######################
# Core XenForo Files #
######################
/.htaccess
/admin.php
/admindav.php
/css.php
/deferred.php
/fb_channel.php
/htaccess.txt
/index.php
/payment_callback.php
/proxy.php
/rgba.php
/sitemap.php
/data
/install
/internal_data
/js/audentio/ad_styler
/js/audentio/uix
/js/audentio/uix_style
/js/flot
/js/index.html
/js/jquery
/js/redactor
/js/sortable
/js/swfupload
/js/xenforo
/library/.htaccess
/library/Brivium
/library/Lgpl
/library/Minify
/library/Sabre
/library/XenForo
/library/Zend
/library/config.php
/library/config.php.default
/library/index.html
/styles/default/index.html
/styles/default/xenforo
/styles/default/xenresource
/styles/uix
/styles/index.html

######################
#    Post Ratings    #
######################
/addon-PostRating.xml
/js/dark
/library/Dark
/styles/dark

######################
#   Project Files    #
######################
/.buildpath
/.project
/.settings
/.idea